# Build output
target/
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.factorypath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.checkstyle

# macOS
.DS_Store

# mvnw
!.mvn/wrapper/maven-wrapper.jar

# integration test
*/src/it/*/bin
