<settings>
    <servers>
        <server>
            <id>azure-auth</id>
            <configuration>
                <client>${env.CLIENT_ID}</client>
                <tenant>${env.TENANT_ID}</tenant>
                <key>${env.KEY}</key>
                <environment>AZURE</environment>
            </configuration>
        </server>
        <server>
            <id>docker-hub</id>
            <username>fakeDockerUserName</username>
            <password>fakeDockerPassword</password>
        </server>
        <server>
            <id>docker-registry</id>
            <username>fakeRegistryUserName</username>
            <password>fakeRegistryPassword</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>